#
# This file specifics development requirements. To update the requirements.txt
# file run:
#
#    pip-compile dev-requirements.in > dev-requirements.txt
#
bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx
cryptography
PyYAML
pytest
pip-tools
