#
# This file specifics development requirements. To update the requirements.txt
# file run:
#
#    pip-compile dev-requirements.in > dev-requirements.txt
#
bumpversion
flake8
coverage
pytest
# Only required to run tests under tox.
#tox
# Only required for updating requirements before releases.
#pip-tools
# Only required for travis_pypi_setup.py
#cryptography
#PyYAML
